<% if resource.errors.any? %>
  <div>
    <h5>
      <%= resource.errors.count %> erros foram encontrados
    </h5>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <hr>
<% end %>
