/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.navbar-custom{
    margin-bottom: 20px;
    box-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

a:link{
    color: #1A96FF;
}

a:hover{
    color: red;
    background-color: #00000000;
}

a:visited{
    color: #1A96FF;
}

body{
    background-color: #bfe1ff;
}

.img-devise-logo{
    max-width: 325px;
    width: 100%;
}

.devise-container{
    max-width: 350px;
    min-height: 200px;
    background-color: white;
    border-radius: 30px;
    
    margin-top: 15px;
    padding: 20px;
}

.botao-flutuante{
    position: fixed;
    
    bottom: 24px;
    right: 24px;
    
    background-color: #1a96ff;
    
    font-size: 25px;
    color: white;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.botao-flutuante:hover{
    color: lightgrey;
}

.dashboard-container{
    position: relative;
    min-height: calc(100vh - 72px); 
    max-height: calc(100vh - 72px); 
}

.hidden{
    display: none;
}